
<div class="row-fluid">
	<div class="span4">
		<div class="hero-unit">
			<h2>Add a Vehicle</h2>
			<p>Add one vehicle at a time to account for additional models or to fill in gaps in the database. Simply add new vehicles to the database and the associate products to it.</p>

			<a class="btn btn-primary btn-large" href="/vehicles/new"><i class="icon-plus-sign icon-white"></i> New Vehicle</a>
		</div>		
	</div>

	<div class="span4">
		<div class="hero-unit">
			<h2>Add Many</h2>
			<p>Uploading a .csv file is great when you need to make bulk changes to the list of vehicles you have in the database.  Right now  we allow you to customize this <a href="/models.csv">file</a> and upload it.</p>
			<a class="btn btn-primary btn-large" href="/vehicles/new"><i class="icon-upload icon-white"></i> Upload .CSV File</a>
		</div>
	</div>
	
	<div class="span4">
		<div class="hero-unit">
			<h2>View/Edit</h2>
			<p>View the all-up list of all the vehicles in the database. You can search and narrow by make/model/year and edit individual vehicles information. Please note: this page can take a while to load.</p>
			<a class="btn btn-primary btn-large" href="/vehicles/all"><i class="icon-th-list icon-white"></i> View All Vehicles</a>
		</div>
	</div>
</div>