<h1>Editing product</h1>

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>

<a href="#" class="show_checks">Show Checked Id's</a>
<div class="output"></div>